#footer {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12pt;
	font-style: italic;
	font-weight: normal;
	color: #fff;
	text-align: left;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 980px;
	padding-top: 65px;
	height: 25px;
}
#maincontener{
	width: 980px;
	margin-top: 108px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	opacity :0.9;
	margin-bottom: 0px;
	padding: 0px;
	height: 345px;
}
.thumb ul{
	float:left;
	margin:0px;
	padding:0px;
	list-style:none;
	width:210px;
	height:107px;
}
.thumb ul li{
	float:left;
	margin:0px;
	padding:0px;
	float:left;
}

.thumb{
	float:left;
	margin-top:8px;
	padding:0px;
	width:210px;
	height:107px;
	overflow:hidden;
	-moz-box-shadow:1px 1px 3px #555;
	-webkit-box-shadow:1px 1px 3px #555;
	box-shadow:1px 1px 3px #555;
}
.thumb ul li a img{
	float:left;
	margin:0px;
	padding:0px;
	border:5px solid #fff;
}
#center_col {
	margin: 0px;
	float: left;
	width: 500px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 20px;
}
#right_col {
	margin: 0px;
	width: 179px;
	float: left;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #8d9d54;
}
#left_col {
	margin: 0px;
	float: left;
	width: 210px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	text-align: center;
	color:#8d9d54
}


p {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12pt;
	font-style: normal;
	line-height: 18pt;
	font-weight: normal;
	color: #adadad;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#center_col p {
	padding-top: 30px;
}

h3  {
	padding-top: 10px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	color: #adadad;
	margin: 0px;
	padding-left: 20px;
}


h2 {
	font-family: "palatino Linotype";
	font-size: 14pt;
	font-style: italic;
	font-weight: normal;
	color: #8d9d54;
	margin: 0px;
	padding-top: 1px;
	padding-bottom: 2px;
	text-align: left;
}
h4 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	color: #adadad;
	margin-top: 120px;
}
#center_col h4 {
	margin: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#center_col h4 a {
	color: #adadad;
	text-decoration: none;
}
#center_col h4 a:hover {
	color: #8d9d54;
	text-decoration: none;
}



h1  {
	font-family: "palatino Linotype";
	font-size: 21pt;
	font-style: normal;
	font-weight: normal;
	color: #8d9d54;
	margin: 0px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}
